@import "tailwindcss";
@import "@fontsource/inter";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

::selection {
  background: #3b82f6;
  color: white;
}